<html>
  <head>
    <title>Внешние MCP-серверы</title>
  </head>

  <body>
    <div x-data="{ get settings() { return $store.settings.settings } }">
      <template x-if="settings">
        <div>
          <div class="section-title">Внешние MCP-серверы</div>
          <div class="section-description">
            Synapse может использовать внешние локальные или удаленные MCP-серверы в качестве инструментов.
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">Настройка MCP-серверов</div>
              <div class="field-description">Внешние MCP-серверы можно настроить здесь.</div>
            </div>
            <div class="field-control">
              <button
                class="btn btn-field"
                @click="$store.settings.handleFieldButton({ id: 'mcp_servers_config' })"
              >
                Открыть
              </button>
            </div>
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">Таймаут инициализации MCP-клиента</div>
              <div class="field-description">
                Таймаут инициализации MCP-клиента (в секундах). Более высокие значения могут потребоваться для сложных MCP, но также могут замедлить запуск системы.
              </div>
            </div>
            <div class="field-control">
              <input type="number" x-model.number="settings.mcp_client_init_timeout" />
            </div>
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">Таймаут выполнения инструментов MCP</div>
              <div class="field-description">
                Таймаут для выполнения инструментов MCP-клиента. Более высокие значения могут потребоваться для сложных инструментов, но также могут приводить к долгим задержкам при сбоях в работе инструментов.
              </div>
            </div>
            <div class="field-control">
              <input type="number" x-model.number="settings.mcp_client_tool_timeout" />
            </div>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
