WEB_UI_PORT=5000
WEB_UI_HOST=127.0.0.1
AUTH_LOGIN=admin
AUTH_PASSWORD=admin

# Выберите одного провайдера и вставьте сюда ваш ключ
API_KEY_OPENAI=
API_KEY_ANTHROPIC=
API_KEY_GOOGLE=
API_KEY_OPENROUTER=
API_KEY_DEEPSEEK=
API_KEY_OLLAMA=

ROOT_PASSWORD=
