<html>

<head>
    <title>Основные данные проекта</title>
    <script type="module">
        import { store } from "/components/projects/projects-store.js";
    </script>
</head>

<body>
    <div x-data>
        <template x-if="$store.projects && $store.projects.selectedProject">
            <div>

                <template x-if="!$store.projects.selectedProject._meta.creating">
                    <div class="projects-form-group">
                        <label class="projects-form-label">Имя папки</label>
                        <span class="projects-form-description">Файлы и настройки проекта находятся в
                            <strong><span
                                    x-text="$store.projects.getSelectedAbsPath()"></span></strong></span>
                        <div class="projects-input-with-button-wrapper">
                            <input class="projects-form-input projects-disabled" type="text" x-model="$store.projects.selectedProject.name" disabled>
                            <button class="button icon-button" @click="$store.projects.browseSelected()">
                                <span class="icon material-symbols-outlined">folder</span>
                                <span>Обзор</span>
                            </button>
                        </div>
                    </div>
                </template>

                <div class="projects-form-group">
                    <label class="projects-form-label">Название</label>
                    <span class="projects-form-description">Название и описание видны как вам, так и Synapse,
                        и могут помочь ему лучше понять проект.</span>
                    <input class="projects-form-input" type="text" x-model="$store.projects.selectedProject.title"
                        placeholder="Необязательный заголовок">
                </div>

                <!-- <div class="projects-form-group">
                    <label class="projects-form-label">Description</label>
                    <textarea class="projects-form-textarea" x-model="$store.projects.selectedProject.description"
                        rows="5" placeholder="Необязательное описание"></textarea>
                </div> -->

                <div class="projects-form-group">
                    <label class="projects-form-label">Цвет</label>
                    <div class="projects-color-row">
                        <div class="projects-color-ball projects-color-none"
                            :class="{'selected': !$store.projects.selectedProject.color}"
                            @click="$store.projects.selectedProject.color = ''">
                            <span class="projects-color-x">×</span>
                        </div>
                        <template x-for="c in $store.projects.colors" :key="c">
                            <div class="projects-color-ball" :style="`background:${c}`"
                                :class="{'selected': $store.projects.selectedProject.color === c}"
                                @click="$store.projects.selectedProject.color = c">
                            </div>
                        </template>
                    </div>
                </div>

                <!-- Git Status Section -->
                <template x-if="!$store.projects.selectedProject._meta.creating && $store.projects.selectedProject.git_status?.is_git_repo">
                    <div class="projects-form-group git-status-section">
                        <label class="projects-form-label">
                            <span class="material-symbols-outlined git-icon">commit</span>
                            Статус Git
                        </label>
                        <div class="git-status-card">
                            <!-- Repository URL -->
                            <template x-if="$store.projects.selectedProject.git_status.remote_url">
                                <div class="git-status-row">
                                    <span class="git-status-label">
                                        <span class="material-symbols-outlined">link</span>
                                        Репозиторий
                                    </span>
                                    <div class="git-status-value-with-action">
                                        <span class="git-status-value git-url" x-text="$store.projects.selectedProject.git_status.remote_url"></span>
                                        <a class="git-action-link" :href="$store.projects.selectedProject.git_status.remote_url" target="_blank" rel="noopener noreferrer" title="Открыть в браузере">
                                            <span class="material-symbols-outlined">open_in_new</span>
                                        </a>
                                    </div>
                                </div>
                            </template>
                            
                            <!-- Branch -->
                            <div class="git-status-row">
                                <span class="git-status-label">
                                    <span class="material-symbols-outlined">fork_right</span>
                                    Ветка
                                </span>
                                <span class="git-status-value git-branch" x-text="$store.projects.selectedProject.git_status.current_branch"></span>
                            </div>
                            
                            <!-- Status -->
                            <div class="git-status-row">
                                <span class="git-status-label">
                                    <span class="material-symbols-outlined">info</span>
                                    Статус
                                </span>
                                <span class="git-status-value" 
                                    :class="$store.projects.selectedProject.git_status.is_dirty ? 'git-dirty' : 'git-clean'">
                                    <template x-if="!$store.projects.selectedProject.git_status.is_dirty">
                                        <span>✓ Чистый</span>
                                    </template>
                                    <template x-if="$store.projects.selectedProject.git_status.is_dirty">
                                        <span>
                                            ● Есть незакоммиченные изменения
                                            <template x-if="$store.projects.selectedProject.git_status.untracked_count > 0">
                                                <span x-text="'(' + $store.projects.selectedProject.git_status.untracked_count + ' неотслеживаемых)'"></span>
                                            </template>
                                        </span>
                                    </template>
                                </span>
                            </div>
                            
                            <!-- Last Commit -->
                            <template x-if="$store.projects.selectedProject.git_status.last_commit">
                                <div class="git-status-row">
                                    <span class="git-status-label">
                                        <span class="material-symbols-outlined">history</span>
                                        Последний коммит
                                    </span>
                                    <div class="git-commit-info">
                                        <span class="git-commit-hash" x-text="$store.projects.selectedProject.git_status.last_commit.hash"></span>
                                        <span class="git-commit-message" x-text="$store.projects.selectedProject.git_status.last_commit.message"></span>
                                        <span class="git-commit-meta">
                                            автор: <span x-text="$store.projects.selectedProject.git_status.last_commit.author"></span>, 
                                            дата: <span x-text="$store.projects.selectedProject.git_status.last_commit.date"></span>
                                        </span>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>


        </template>
    </div>
</body>


</html>