<html>
  <head>
    <title>Резервное копирование и восстановление</title>
  </head>

  <body>
    <div x-data>
      <div>
        <div class="section-title">Резервное копирование и восстановление</div>
        <div class="section-description">
          Резервное копирование и восстановление данных и конфигураций Synapse с выбором файлов по маскам поиска (glob).
        </div>

        <div class="field">
          <div class="field-label">
            <div class="field-title">Создать резервную копию</div>
            <div class="field-description">
              Создать архивную резервную копию выбранных файлов и конфигураций по настраиваемым маскам.
            </div>
          </div>
          <div class="field-control">
            <button
              class="btn btn-field"
              @click="window.openModal('settings/backup/backup.html')"
            >
              Создать бэкап
            </button>
          </div>
        </div>

        <div class="field">
          <div class="field-label">
            <div class="field-title">Восстановить из копии</div>
            <div class="field-description">
              Восстановить файлы и конфигурации из архивной резервной копии с выбором по маскам.
            </div>
          </div>
          <div class="field-control">
            <button
              class="btn btn-field"
              @click="window.openModal('settings/backup/restore.html')"
            >
              Восстановить бэкап
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
